* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(254, 255, 206);
    color: rgb(102, 101, 101);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    font-size: 60px;
    font-weight: bold;
    margin: 100px auto;
  }
  
  .header > span {
    color: rgb(231, 71, 71);
  }
  
  .digital {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  
  .digital_time {
    font-size: 48px;
    font-weight: bold;
  }
  
  .digital_button {
    color: rgb(102, 101, 101);
    background-color: rgb(251, 253, 132);
    border: 1px solid white;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 11px;
    height: 36px;
    width: 50px;
    font-size: 20px;
  }
  .digital_button:hover {
    cursor: pointer;
    background-color: rgb(102, 101, 101);
    color: rgb(251, 253, 132);
  }
  
.analog_clock {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: white;
  margin: 30px auto;
}

.analog_clock > p {
  color: gray;
  font-size: 18px;
  text-align: center;
}

.analog_hour,
.analog_minute,
.analog_second {
  height: 2px;
  border-radius: 1px;
  position: relative;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.analog_hour {
  z-index: 2;
  width: 60px;
  top: 100px;
  left: 40px;
  background-color: skyblue;
}

.analog_minute {
  z-index: 1;
  width: 90px;
  top: 98px;
  left: 10px;
  background-color: skyblue;
}

.analog_second {
  z-index: 3;
  width: 90px;
  top: 96px;
  left: 10px;
  background-color: red;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}


.analog_clock {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
    margin: 30px auto;
}

.analog_clock > p {
    color: gray;
    font-size: 18px;
    text-align: center;
}

.analog_hour,
.analog_minute,
.analog_second {
    height: 2px;
    border-radius: 1px;
    position: relative;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.analog_hour {
    z-index: 2;
    width: 60px;
    top: 100px;
    left: 40px;
    background-color: skyblue;
}

.analog_minute {
    z-index: 1;
    width: 90px;
    top: 98px;
    left: 10px;
    background-color: skyblue;
}

.analog_second {
    z-index: 3;
    width: 90px;
    top: 96px;
    left: 10px;
    background-color: red;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .weather {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 30px;
    border:3px solid rgb(158, 156, 156);
    margin-bottom: 100px;

  }
  
  .weather_top {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: flex-end;
    justify-content: center;
  }
  .weather_top_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 180px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .weather_temperature {
    font-size: 48px;
    font-weight: bold;
  }
  .weather_location {
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(161, 161, 161);
  }
  
  .weather_main {
    font-size: 32px;
    margin-left: 30px;
    text-align: bottom;
  }
  
  .weather_temps,
  .weather_others {
    font-size: 18px;
    text-align: center;
    margin-top: 5px;
  }
  
  .weather_temps > span,
  .weather_others > span {
    color: lightgray;
  }
  .weather_icon > img {
    width: 180px;
    height: 180px;
  }